.form {
    width: 40vw;
    height: 50vh;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;

}


.name{

    background: none;
    width: 80%;
}

.message{
    background: none;
    width: 80%;
    height: ;

}

.add {

    width: 75vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.in {
    display: block;
}