.form{
    width: 40vw;
    height: 50vh;
    background: red;
dis
}

.add{

    width: 75vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.in{
    display: block;
}