

.board{
    width: 100vw;
    height: 100vh;
    background: #fbfbfb;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
    
    



}


.bluespace{
    height: 15vh;
    background: #000034;
    color: aliceblue;
}

.bluespace h3{
    margin: 0;
    padding: 0px;
}