span.col0{
    width: 1%;
    background: rgb(124, 21, 21);
    display: block;
    border-radius: 20px 0 0 20px;
    
    
}


span.col1{
    width: 19%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    /* border-radius: 20px 0 0 20px; */
    
    
}
span.col2{
    width: 30%;
    background: #ffffff;
    display: flex;
    font-size: 1.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center ;
}

/* span.col2:nth-child(1){
    width: 30%;
    background: chartreuse;
    display: block;
}
span.col2:nth-child(2){
    width: 70%;
    display: block;
    background: crimson;
} */




span.col3{
    width: 30%;
    background: #ffffff;
    display: block;
}
span.col4{
    width: 20%;
    background: rgb(60, 32, 163);
    display: block;
    border-radius: 0 20px 20px 0;
}
span.col4 button{
    width: 50px;
    height: 50px;
}


.colums{
    
    display: flex;
    height: 10vh;
    /* border-bottom: 1px solid black ; */
    color: rgb(0, 0, 0) !important;
    box-shadow: 0px 1px 8px rgb(218, 217, 217);
    margin-top: 3vh;
    border-radius: 20px 20px 20px 20px;
    width: 100%;
}

.sepLine{
    height: 60%;
    width: 1px;
    border-right: 5px solid black;
    
}