.notes >div{
    width: 500px;
    height: 300px;
    padding: 15px;
    text-align: center;
    border-radius:20px ;
    background: url(../public/images/Background.png);
    background-size: cover;
   
    color: black;
    font-weight: bold;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.notes> div> div{
    width: 80%;
    height: 100%;
    

}
.notes > div > div :nth-child(1) {
    height: 10%;
    
    


}
.notes >div > div :nth-child(2){
    height: 80%;
    width: 100%;
    
      border-top: 2px solid #202443 ;
      border-bottom: 2px solid #202443 ;
}

.notes div div :nth-child(3){
    
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
