/* .notes >div{
    width: 20vw;
    height: 20vw;
    padding: 15px;
    text-align: center;
    border-radius:20px ;
    background: url(../public/images/Background.png);
    background-size: cover;
   
    color: black;
    font-weight: bold;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */
.notes >div{
    height: 3vh;
    border-bottom: 1px solid black ;
    
}
.notes {
    width: 60vw;
    height: 72vh;
    background: #fbfbfb;
    overflow-y: scroll;
    padding-bottom: 4vh;
    
    
}

.notes> div> div{
    width: 80%;
    height: 100%;
    padding: 30px;
    

}
.notes > div > div :nth-child(1) {
    height: 10%;
    
    


}
.notes >div > div :nth-child(2){
    height: 80%;
    width: 100%;
    
    border-top: 2px solid #202443 ;
    border-bottom: 2px solid #202443 ;
}

/* .notes div div :nth-child(3){
    
} */




.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
span.col1{
    width: 10%;
    background: red;
    display: block;
    
    
}
span.col2{
    width: 80%;
    background: green;
    display: block;
}
span.col3{
    width: 10%;
    background: blue;
    display: block;
}

.colums{
    width: 100%;
    display: flex;
}

.commentArea{
    height: 50vh !important;
    width: 50vw;

    background: #202443;

}