.notes div{
    width: 40vw;
    height: 20vh;
    padding: 15px;
    text-align: center;
    border-radius:20px ;
    background: #2e325c;
    border-bottom: 2px solid black;
    color: wheat;
    font-weight: bold;
    
}
.notes div div{
    width: 100%;
    height: 100%;
}
.notes div div :nth-child(1) {
    width: 10%;
    
    height: 100%;


}
.notes div div :nth-child(2){
    width: 80%;
    
      border-right: 2px solid #202443 ;
      border-left: 2px solid #202443 ;
}

.notes div div :nth-child(3){
    width: 10%;
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
}