.notes div{
    width: 300px;
    height: 300px;
    padding: 15px;
    text-align: center;
    border-radius:20px ;
    background: #2e325c;
    border-bottom: 2px solid black;
    color: wheat;
    font-weight: bold;
    margin: 20px;
    
}
.notes div table{
    width: 100%;
    height: 100%;
    

}
.notes div table :nth-child(1) {
    height: 10%;
    
    


}
.notes div table :nth-child(2){
    height: 80%;
    w
    
      border-top: 2px solid #c3c9ff ;
      border-bottom: 2px solid #202443 ;
}

.notes div table :nth-child(3){
    
}




.container{
    display: flex;
    justify-content: center;
    align-items: center;
}