

.sideNav{
    height: 100vh;
    width: 5vw;
    /* position: absolute; */
    background: #ffffff;
    box-shadow: 0px -10px 5px #8d8d8d;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding-top: 5vh;


}
.sideNav > button{
    font-size: 2rem;
    background: rgba(163, 162, 162, 0);
    border: 0px;
    cursor: pointer;
    color: rgba(75, 75, 75, 1);

}

.sideNav > button:hover{

    background: rgba(0, 0, 0, 0);
    
}