.rowOne{
    height: 8vh;
    
}
.rowTwo{
    height: 8vh;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    width: 100%;
}
.rowThree{
    
    width: 100%;
    pad

}
.rowThree div{
    height: 8vh;
}