.rowOne{
    height: 8vh;
     border-top: 1px solid rgba(214, 214, 214,0);
    
}

.rowTwo{
    height: 8vh;
    border-top: 1px solid rgb(214, 214, 214);
    border-bottom: 1px solid rgb(214, 214, 214);
    width: 100%;
}
.rowThree{
  
    width: 100%;
    padding: 30px;

}
.rowThree div{
    height: 8vh;
}
.rowThree h3{
    color: #000034;
    font-weight: bold;
}
.container{
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.parContainer{
    width: 100%;
}

.buttons{
    height: 20vh;
    border-top: 1px solid rgb(214, 214, 214);
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.buttons button{
    height: 15%;
    margin-top: 4vh;
    width: 40%;
    background: 0;
    border-radius: 30px;
}

.message{
    white-space: ;
}